* {
    padding: 0;
    margin: 0; }
  
  body {
    background-color: #eee;
    height:100%;
  }

.box{
   overflow: hidden; 
   margin: 15vh auto 0; 
   height: 480px;
   width:  480px;
}

.box div{
    float: left;
    width: 40px;
    height:40px;
}

.type1{
     /*要推的地方*/
    opacity: .5;
}
.type1, .type2{
    background-color: #3266cc;
}
.type3{
     /*墙*/
    background-color: rgba(7,17,27,.8) 
}
.type4{
      /*箱子*/
    box-sizing: border-box;
    border:1px solid  rgba(7,17,27,.5);
    background-color: #cca71a;
}
.pusher {
    /*皮卡丘*/
    width: 40px;
    height: 40px;
    background: url("../img/pikachu.jpg") #3266cc;
    background-size: cover;
   }